.fade.modal.show {
    padding-left: 0 !important;
}

@media only screen and (max-width: 650px) {
    #functionality-test {
        margin-top: 30%;
    }
}

#functionality-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#functionality-buttons button {
    min-width: 300px;
}

#determine-functionality-button {
    margin-bottom: 16px;
}

#determine-functionality-button, #functionality-test-continue-button {
    min-width: 300px;
    margin-bottom: 16px;
}

.functionality-test-row {
    display: flex;
    margin-bottom: 16px;
}

.functionality-test-row p {
    margin-bottom: 0;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.functionality-test-row input {
    margin-left: 16px;
    margin-right: 32px;
    margin-top: 0;
    transform: scale(1.5);
    accent-color: var(--primary-color);
    cursor: pointer;
}