.bottom-menu {
    padding-top: 4%;
    padding-bottom: 4%;
    background: var(--background-color-light);
}

@media only screen and (max-width: 771px) {
    .bottom-menu {
        padding-top: 8%;
        padding-bottom: 8%;
    }
}

@media only screen and (min-width: 770px) {
    .footer-row {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
        grid-gap: var(--standard-size);
    }
}

.footer-column {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 60px;
    margin-bottom: 0;
}

.footer-header {
    font-size: 18px;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
    color: #000000A6;
}

.bottom-menu a {
    margin-bottom: var(--standard-size);
    text-decoration: none;
    color: #000000A6;
    text-rendering: optimizeLegibility;
}

.bottom-menu a:hover {
    color: var(--primary-color);
    transition: 200ms ease-in;
}