.top-menu.navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top .nav-link {
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
    white-space: nowrap;
    border-radius: 0.75vw;
}

.top-menu.navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top .nav-link:hover {
    background-color: var(--background-color-light-hover);
    transition: 200ms ease-in;
}