#step-end {
    margin-left: 10%;
    margin-right: 10%;
}

@media only screen and (max-width: 651px) {
    #step-end-header {
        margin-top: 10%;
        margin-bottom: 2%;
    }
}

#step-end img {
    padding: var(--standard-size);
}

@media only screen and (min-width: 991px) {
    #selection-result {
        display: grid;
        grid-template-columns: 66% 33%;
    }
   
    #selection-result-files .card-body {
        min-height: 426px;
    }
}

#image-upload, #document-upload {
    display: none;
}

#selection-result-images-body, #selection-result-documents-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-img {
    max-width: 50%;
}

.card-header, .card-body {
    background-color: var(--background-color-light);
}

.card-body button {
    min-width: 200px;
}

#selection-result-details p {
    text-align: left;
}

#selection-result-details {
    flex: 1;
}

#button-create-ticket {
    text-align: center;
    min-width: 300px;
    min-height: 30px;
    margin-bottom: var(--standard-size);
}

#proposal-failure-text {
    font-size: 18px;
    margin-top: var(--standard-size);
}

#proposal-failure-text p {
    margin-bottom: 0;
}

#proposal-failure-text a {
    text-decoration: none;
    color: var(--primary-color);
}