#step-end {
    margin-left: 10%;
    margin-right: 10%;
}

@media only screen and (max-width: 651px) {
    #step-end-header {
        margin-top: 10%;
        margin-bottom: 2%;
    }
}

#step-end img {
    padding: 16px;
}

@media only screen and (min-width: 991px) {
    #selection-result {
        display: grid;
        grid-template-columns: 66% 33%;
    }
   
    #selection-result-files .card-body {
        min-height: 386px;
    }
}

#image-upload, #document-upload {
    display: none;
}

#selection-result-images-body, #selection-result-documents-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-img {
    max-width: 50%;
}

.card-header, .card-body {
    background-color: #F8F9FA;
}

.card-body button {
    min-width: 200px;
}

#selection-result-details p {
    text-align: left;
}

#selection-result-details {
    flex: 1;
}

input[type="file"]::-webkit-file-upload-button {
    border: none;
    padding: 3%;
    background: #6c757d;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

#button-create-ticket {
    text-align: center;
    min-width: 300px;
    min-height: 30px;
    margin-bottom: 16px;
}

#proposal-failure-text {
    font-size: 18px;
    margin-top: 16px;
}

#proposal-failure-text p {
    margin-bottom: 0;
}

#proposal-failure-text a {
    text-decoration: none;
    color: #1a95a3;
}