.rbt {
    width: 55%;
    min-width: 290px !important;
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
}

.rbt .rbt-input-wrapper {
    overflow: hidden;
}

.rbt .dropdown-item:hover {
    background-color: var(--primary-color-hover);
    color: #fff;
}

.rbt .dropdown-item.active {
    background-color: var(--primary-color-hover);
}

.searchbar.container input::placeholder {
    color: var(--placeholder-color);
}