body {
    min-height: 100vh;
}

.App {
    background-color: #EEE;
    min-height: 100vh;

    font-family: "DM Sans", sans-serif;
    font-feature-settings: "kern" 1,"liga" 1,"calt" 1;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.btn.btn-primary {
    background-color: #1a95a3;
    border-color: #1a95a3;
    --bs-btn-bg: #1a95a3;
    --bs-btn-active-bg: #1a95a3bb;
    --bs-btn-active-border-color: #1a95a3bb;
    --bs-btn-border-color: #1a95a3;
}

.btn.btn-primary:hover {
    background-color: #1a95a3bb;
    border-color: #1a95a3bb;
    transition: 200ms ease-in;
}

#button-back {
    min-width: 300px;
}

.top-menu.navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top .nav-link {
    display: inline-block;
    vertical-align: middle;
    padding: 16px 20px;
    white-space: nowrap;
    border-radius: 0.75vw;
}

.top-menu.navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top .nav-link:hover {
    background-color: #DFDFDF;
    transition: 200ms ease-in;
}

.bottommenu.navbar.navbar-expand-lg.navbar-light.bg-light {
    min-height: 8vh;
}

.bottommenu.navbar.navbar-expand-lg.navbar-light.bg-light .nav-link {
    display: inline-block;
    vertical-align: middle;
    padding: 16px 20px;
    white-space: nowrap;
    font-weight: 600;
}

.bottom-menu {
    padding-top: 2%;
    background: #F8F9FA;
}

@media only screen and (max-width: 771px) {
    .bottom-menu {
        padding-top: 8%;
    }
}

@media only screen and (min-width: 770px) {
    .footer-row {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
        grid-gap: 20px;
    }
}

.footer-column {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 60px;
    margin-bottom: 8%;
}

.footer-header {
    font-size: 15px;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
}

.bottom-menu a {
    margin-bottom: 3%;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #000;
    text-rendering: optimizeLegibility;
}

.bottom-menu a:hover {
    color: #1a95a3;
    transition: 200ms ease-in;
}

@media only screen and (max-width: 991px) {
    .footer-header {
        font-size: 18px;
        margin-bottom: 6%;
    }
    
    .bottom-menu a {
        font-size: 16px;
        margin-bottom: 5%;
    }

    .bottom-menu a:hover {
        color: #1a95a3;
        transition: 200ms ease-in;
    }
}

/*.topmenu.navbar.navbar-expand.navbar-light.bg-light .nav-highlighted.nav-link {
    background: #F8F9FA;
    border-radius: 50%;
    border: 2px solid #d94136;
}*/

.Steps {
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 0;
    min-height: 85vh;
}

#step-functionality-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#step-functionality-selection button {
    min-width: 300px;
    margin-bottom: 0.5%;
}

.selection {
    margin-bottom: 1.25%;
}

.Steps #ticket-confirmation {
    background-image: url("../public/checkout2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -4.15%;
    min-height: 100vh;
    padding-left: 30%;
    padding-right: 30%;
}

.Steps #ticket-confirmation p {
    padding-top: 32%;
    padding-bottom: 60%;
    font-size: 22px;
    text-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
    /* text-wrap: balance; */ /* coming soon (finally) */
}

@media only screen and (max-width: 990px) {
    .Steps #ticket-confirmation {
        padding-left: 16%;
        padding-right: 16%;
    }

    .Steps #ticket-confirmation p {
        padding-top: 45%;
        font-size: 20px;
        text-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
    }    
}

@media only screen and (max-width: 650px) {
    .Steps #step-functionality, .Steps #imei-step, .Steps .step {
        margin-top: 30%;
    }
}

#banner-wrapped {
    background-image: url("//handingo.de/cdn/shop/files/Handingo-Mount_720.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 27.5%;
    color: #fff;
    text-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
    margin: -4.3%;
    margin-bottom: 1%;
    padding: 4%;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: 600;
    font-size: 20px;
}

@media only screen and (max-width: 650px) {
    #banner-wrapped {
        min-height: 92vh;
    }
}

#banner-wrapped h2 {
    font-size: 50px;
    font-weight: 600;
    margin-top: 2%;
}

#init-explanation {
    margin-left: 5%;
    margin-right: 5%;
}

@media only screen and (min-width: 1400px) {
    #init-explanation {
        padding-left: 20%;
        padding-right: 20%;
    }
}

#init-text {
    margin-left: 15%;
    margin-right: 15%;
}

#init-text a {
    color: #1a95a3;
}

#step-end {
    margin-left: 10%;
    margin-right: 10%;
}

.rbt {
    width: 55%;
    min-width: 290px !important;
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
}

.rbt .rbt-input-wrapper {
    overflow: hidden;
}

.rbt .rbt-highlight-text {
    background-color: #00000022;
}

.rbt .dropdown-item:hover, .rbt .dropdown-item:hover {
    background-color: #1a95a377;
    color: #fff;
}

.rbt .dropdown-item.active {
    background-color: #1a95a3bb;
}

@media only screen and (max-width: 991px) {
    #init-text p {
        margin-left: -5%;
        margin-right: -5%;
        text-align: justify;
    }
}

.form-control:focus, .form-select:focus, .form-select::selection {
    border-color: #1a95a3bb !important;
    box-shadow: 0 1px 1px rgba(26, 149, 163, 0.2) inset, 0 0 8px rgba(26, 149, 163, 0.6) !important;
}

#ticket-form .form-option:hover { /* TODO - funktioniert nicht, Optionen bleiben blau */
    background-color: #1a95a3 !important;
    color: #1a95a3 !important;
}

#step-init p a {
    text-decoration: none;
}

.searchbar.container input::placeholder {
    color: rgba(0, 0, 0, 0.25);
}

#step-end img {
    padding: 3%;
}

button {
    overflow: hidden;
}

.col {
    display: flex;
    justify-content: center;
}

:not(#step-init) .selection button {
    text-align: left;
    margin-bottom: calc(2px + 1.5%);
    padding: 1%;
    width: 66%;
    max-height: 18vh;
    display: grid;
    grid-template-columns: 12% 56% 17% 12%;
    border-radius: 1vw;
}

:not(#step-init) .selection button:hover {
    background-color: #DFDFDF;
    transition: 200ms ease-in;
    box-shadow: rgba(0, 0, 0, 0.0625) 0px 3px 5px, rgba(0, 0, 0, 0.05) 0px 3px 10px, rgba(0, 0, 0, 0.0375) 0px 3px 15px, rgba(0, 0, 0, 0.025) 0px 3px 20px, rgba(0, 0, 0, 0.0125) 0px 3px 25px;
}

@media only screen and (max-width: 650px) {
    :not(#step-init) .selection button {
        text-align: left;
        margin-bottom: calc(2px + 1.5%);
        padding: 2%;
        width: 66%;
        min-width: 300px;
        min-height: 6vh;
        max-height: 20vh;
        display: grid;
        grid-template-columns: 12% 56% 17% 12%;
        border-radius: 1vw;
    }

    :not(#step-init) .selection button:hover {
        background-color: #DFDFDF;
        transition: 200ms ease-in;
        box-shadow: rgba(0, 0, 0, 0.0625) 0px 3px 5px, rgba(0, 0, 0, 0.05) 0px 3px 10px, rgba(0, 0, 0, 0.0375) 0px 3px 15px, rgba(0, 0, 0, 0.025) 0px 3px 20px, rgba(0, 0, 0, 0.0125) 0px 3px 25px;
    }
}

/*.Steps #determine-condition-link {
    text-align: left;
    color: #1a95a3;
    margin-left: 18%;
    margin-top: 2%;
    margin-bottom: 3%;
    font-size: calc(16px + 0.6vw);
    text-decoration: underline;
}

@media only screen and (max-width: 650px) {
    .Steps #determine-condition-link {
        text-align: center;
        margin-left: 0%;
        margin-top: -5%;
        margin-bottom: 5%;
    }
}

.Steps #determine-condition-link:hover {
    cursor: pointer;
}*/

#condition-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#determine-condition-button, #condition-continue-button {
    margin-bottom: 0.25%;
    min-width: 300px;
}

#condition-continue-button {
    margin-bottom: 0.5%;
}

#model-viewer {
    width: 99%;
    height: auto;
    margin-left: 2.5%;
}

#condition-modal {
    max-width: 85vw;
    margin-left: auto;
    margin-right: auto;
}

#condition-modal .btn-close {
    margin-right: 1%;
}

#condition-modal .modal-footer {
    margin-right: 1%;
}

#condition-modal .modal-footer button {
    min-width: 95px;
}

@media only screen and (max-width: 991px) {
    #condition-modal {
        max-width: 95vw;
        margin-top: 10vh;
    }
}

#condition-modal-header {
    margin-left: 1%;
}

#condition-modal-header p {
    cursor: pointer;
    margin-top: 1%;
    margin-right: 5%;
    font-weight: 600;
    font-size: calc(12px + 0.6vw);
    padding: 1%;
    margin-bottom: 0.5%;
    color: #777;
}

#condition-modal-header p:hover {
    border-radius: 15%;
    border-bottom: 2px solid #BBB;
}

.condition-modal-selected-step {
    border-radius: 15%;
        border-bottom: 2px solid #999 !important;
    background-color: #F8F9FA;
    color: #555 !important;
}

.condition-modal-selected-condition {
    background-color: #1a95a3bb !important;
    color: #FFF !important;
}

#condition-modal-selection {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 1%;
    margin-bottom: 2.5%;
}

#condition-modal-selection-buttons {
    display: flex;
    flex-direction: column;
}

#condition-modal-selection-buttons h2 {
    text-align: center;
}

#condition-modal-selection-buttons button {
    text-align: left;
    margin-bottom: 1%;
    height: 10vh;
    font-weight: 600;
    font-size: calc(12px + 0.7vw);
}

#condition-modal-selection-buttons button:hover {
    transition: 200ms ease-in;
    box-shadow: rgba(0, 0, 0, 0.0625) 0px 3px 5px, rgba(0, 0, 0, 0.05) 0px 3px 10px, rgba(0, 0, 0, 0.0375) 0px 3px 15px, rgba(0, 0, 0, 0.025) 0px 3px 20px, rgba(0, 0, 0, 0.0125) 0px 3px 25px;
}

@media only screen and (max-width: 991px) {
    #condition-modal-selection-buttons button {
        font-size: calc(12px + 1.1vw);
    }
}

#condition-modal-content {
    background-color: #EEE;
    border-radius: 1%;
}

@media only screen and (min-width: 991px) {
    #selection-result {
        display: grid;
        grid-template-columns: 66% 33%;
    }
}

#selection-result .card-header, #selection-result .card-body, #condition-modal-result .card-header, #condition-modal-result .card-body {
    background-color: #F8F9FA;
}

#selection-result .card-header small {
    font-size: 14px;
}

#selection-result-details p {
    text-align: left;
}

#selection-result-details, #selection-result-empty {
    flex: 1;
}

.selection .preview-icon {
    border-radius: 15% 0% 0% 15%;
}

#step-end .preview-icon {
    border-radius: 10%;
}

:not(#step-init) .selection button:hover .preview-icon {
    transition: 200ms ease 200ms;
    transform: scale(1.35);
}

:not(#step-init) .selection button:hover .button-text {
    transition: 200ms ease 200ms;
    margin-left: 3.5%;
}

.button-text {
    align-self: center;
    line-height: calc(12px + 0.6vh);
    margin: 0;
    font-weight: 600;
    font-size: calc(16px + 0.6vw);
}

.button-text-small {
    align-self: center;
    font-weight: 400;
    font-size: calc(6px + 0.7vw);
    margin: 0;
    padding-left: 3%;
}

.continue-icon {
    align-self: center;
    min-width: 190%;
}

.preview-icon {
    align-self: center;
}

#button-send-ticket, #button-continue {
    text-align: center;
    min-width: 300px;
    min-height: 30px;
}

#button-continue, #determine-condition-button {
    margin-bottom: 0.5%;
}

#button-create-ticket {
    text-align: center;
    min-width: 300px;
    min-height: 30px;
    margin-bottom: 0.5%;
}

#button-send-ticket {
    margin-top: 1vh;
    margin-bottom: 0.5%;
}

#button-search {
    min-width: 200px;
    max-width: 270px;
    width: 20%;
}

#button-start {
    background-color: #D94136;
    border-color: #D94136;
    min-width: 200px;
    max-width: 270px;
    width: 20%;
}

#button-start:hover {
    background-color: #E95146;
    border-color: #E95146;
    transition: 200ms ease-in;
}

.Steps .btn.btn-primary {
    font-size: 1.1rem !important;
}

.ticket-form .form-label {
    text-align: left;
    padding-left: 5px;
}

.ticket-form input, .ticket-form label {
    display: grid;
}

.ticket-form input, .ticket-form #payment-method, .ticket-form #delivery-service {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    width: 28%;
    min-width: 300px;
}

#imei-step .ticket-form.container input {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
    width: 28%;
    min-width: 300px;
    text-align: center;
}

.ticket-form input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.ticket-form p {
    text-align: left;
    margin-left: 18%;
    margin-right: 18%;
    padding: 2%;
}

@media only screen and (max-width: 650px) {
    .ticket-form p {
        text-align: left;
        margin-left: 9%;
        margin-right: 9%;
        padding: 2%;
    }
}

.ticket-form #additional-data .form-label {
    margin-top: 10%;
}

.ticket-form a {
    text-decoration: none;
    color: #1a95a3;
}

.ticket-form input[type="checkbox"] {
    transform: scale(2);
    accent-color: #1a95a3;
}

#selection-breadcrumbs {
    display: flex;
    margin-left: 18%;
}

#selection-breadcrumbs a {
    text-decoration: none;
    color: #000;
    margin-right: 5px;
    border-radius: 50%;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
}

#selection-breadcrumbs a:hover {
    background-color: #DFDFDF;
    transition: 200ms ease-in;
}

@media only screen and (max-width: 650px) {
    #selection-breadcrumbs a {
        display: none;
    }
}

input[type="file"]::-webkit-file-upload-button {
    border: none;
    padding: 3%;
    background: #6c757d;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

#selection-result #file-upload {
    display: none;
}

#selection-result-image-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#selection-result-image-body .card-img {
    max-width: 50%;
}

#condition-modal-result {
    display: grid;
    grid-template-columns: 45% 55%;
}

#condition-modal-result .card-title {
    text-align: center;
}

.card-title.h5 {
    margin-top: 0.5vh;
    margin-bottom: 0.75vh;
}

#condition-modal-result-info-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#condition-modal-result-info-body h2 {
    text-align: center;
}

#condition-modal-result-image {
    text-align: center;
    width: 100%;
    max-width: 500px;
}

#functionality-image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 15vh;
    margin-bottom: 1%;
}

#functionality-image-container img {
    height: 13vh;
    margin: 1vh;
}

#functionality-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

#functionality-text svg {
    margin-left: 6px;
}

#functionality-help-modal {
    margin-top: 30vh;
}