body {
    min-height: 100vh;
}

button {
    overflow: hidden;
}

.App {
    background-color: var(--background-color);
    min-height: 100vh;
    font-family: "DM Sans", sans-serif;
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
    text-decoration: none;
    text-align: center;
    font-size: var(--standard-size);
    font-weight: 400;
}

.btn.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    --bs-btn-bg: var(--primary-color);
    --bs-btn-border-color: var(--primary-color);
    --bs-btn-active-bg: var(--primary-color-hover);
    --bs-btn-active-border-color: var(--primary-color-hover);
    font-size: 1.1rem !important;
}

.btn.btn-primary.btn-lg {
    font-size: 1.25rem !important;
}

.btn.btn-primary[disabled] {
    background-color: var(--primary-color-disabled);
    border-color: var(--primary-color-disabled);
    --bs-btn-bg: var(--primary-color-disabled);
    --bs-btn-active-bg: var(--primary-color-disabled);
    --bs-btn-active-border-color: var(--primary-color-disabled);
    --bs-btn-border-color: var(--primary-color-disabled);
}

.btn.btn-primary:hover {
    background-color: var(--primary-color-hover);
    border-color: var(--primary-color-hover);
    transition: 200ms ease-in;
}

.form-control:focus, .form-select:focus, .form-select::selection {
    border-color: var(--primary-color-hover) !important;
    box-shadow: var(--form-select-shadow) !important;
}

.col {
    display: flex;
    justify-content: center;
}

.card-title.h5 {
    margin-top: 0.5vh;
    margin-bottom: 0.75vh;
}