body {
    min-height: 100vh;
}

button {
    overflow: hidden;
}

.App {
    background-color: #EEE;
    min-height: 100vh;
    font-family: "DM Sans", sans-serif;
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.btn.btn-primary {
    background-color: var(--theme-color-primary);
    border-color: var(--theme-color-primary);
    --bs-btn-bg: var(--theme-color-primary);
    --bs-btn-border-color: var(--theme-color-primary);
    --bs-btn-active-bg: var(--theme-color-primary-hover);
    --bs-btn-active-border-color: var(--theme-color-primary-hover);
    font-size: 1.1rem !important;
}

.btn.btn-primary.btn-lg {
    font-size: 1.25rem !important;
}

.btn.btn-primary[disabled] {
    background-color: var(--theme-color-primary-disabled);
    border-color: var(--theme-color-primary-disabled);
    --bs-btn-bg: var(--theme-color-primary-disabled);
    --bs-btn-active-bg: var(--theme-color-primary-disabled);
    --bs-btn-active-border-color: var(--theme-color-primary-disabled);
    --bs-btn-border-color: var(--theme-color-primary-disabled);
}

.btn.btn-primary:hover {
    background-color: var(--theme-color-primary-hover);
    border-color: var(--theme-color-primary-hover);
    transition: 200ms ease-in;
}

.form-control:focus, .form-select:focus, .form-select::selection {
    border-color: var(--theme-color-primary-hover) !important;
    box-shadow: 0 1px 1px rgba(26, 149, 163, 0.2) inset, 0 0 8px rgba(26, 149, 163, 0.6) !important;
}

.col {
    display: flex;
    justify-content: center;
}

.card-title.h5 {
    margin-top: 0.5vh;
    margin-bottom: 0.75vh;
}